html{
	color:#333333;
	background:url(../images/light_alu.png);
}

body{
	width:1000px;
	min-width:1000px;
	margin-left:auto;
	margin-right:auto;
}

a{
	color:black;
}

.bigTitle{
	font-family: 'Amaranth', sans-serif;
	font-size:30px;
	margin-bottom:5px;
	font-weight:bold;
}

.title{
	font-size: 50px;
	text-shadow: 0px 1px 0px white;
	font-family: 'Amaranth', sans-serif;
	font-weight:bold;
	text-align:center;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.subTitle{
	font-family: 'Amaranth', sans-serif;
	font-size:26px;
	margin-bottom:5px;
	font-weight:bold;
}

.entry{
	font-family: 'Amaranth', sans-serif;
	font-size:16px;
}

.h2{
	font-family: 'Amaranth', sans-serif;
	font-size:20px;
	margin-top:10px;
	font-weight:bold;
}

.titleSub{
	text-align:left;
	color:#666;
	margin-bottom:30px;
	font-size:18px;
}

.titleSubLeft{
	color:#666;
	margin-bottom:15px;
}

.code{
	font-size:11px;
}