#editorTable{
    width:100%;
    border-spacing:0px;
    border-collapse:true;
    background:#EBEBEB;
}

.editorRow{
    height:100%;
}

#listContainer{
    width:200px;
    height:100%;
    vertical-align:top;
    border-left:1px solid #CACACA;
    background:white;
    padding:0px;
}

#innerList{
    
}

.outerDiv{
    padding:0px;
}

#divContainer{
    height:100%;
    padding:0px;
	position:relative;
}

#infoDiv{
    height:145px;
    border-top:1px solid #CACACA;
    float:top;
}

.textareaContainer{
    margin-left:auto !important;
    margin-right:auto !important;
    margin-top:40px !important;
    padding:50px !important;
    background:white !important;
    width:720px !important;
    height:100% !important;
	border:1px solid #EBEBEB !important;
}

.textarea{
    width:720px !important;    
    height:100% !important;
    margin:0px !important;
    outline:0px solid transparent !important;
    font: 14px arial !important;
}

.textarea:focus{
    width:830px !important;
    height:100% !important;
    margin:0px !important;
    outline:0px solid transparent !important;
}

.attendee{
    font: 18px arial;
    padding:5px;
    margin-left:auto;
    margin-right:auto;
    border-bottom:1px solid #CACACA;
    height:36px;
}

.attendeeText{
    width:120px;
    display:inline-block;
    cursor:hand;cursor:pointer;
    background: grey;
    font-weight:bold;
    color: white;
    font: 18px arial;
    border:0px;
}

.attendeeColor{
    width:20px;
    height:20px;
    border:1px solid white;
    display:inline-block;
    position:relative;
    top:5px;
    margin-right:5px;
}

.localUser{
    background: grey;
    font-weight:bold;
    color: white;
}

.userEditIcon{
    width:18px;
    height:23px;
    float:right;
    position:relative;
    top:3px;
}

.collabTitle{
    height:29px;
    font:18px arial;
    color:white;
    background:grey;
    padding-top:8px;
    padding-left:5px;
}

.collabSubTitle{
    font:12px arial;
    color:grey;
    margin-top:5px;
    text-align:center;
}

#url{
    width:180px;
    font:14px arial;
    min-height:15px;
    margin-left:auto;
    margin-right:auto;
    border:1px solid #CACACA;
    outline:0px solid transparent;
    margin-top:20px;
    padding:5px;
}

#url:focus{
    outline:0px solid transparent;
}

.nameColorPalette{
	position:fixed;
	display:none;
	right:220px;
	top:2px;
	z-index:1000;
}

.gradient {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.33, rgb(0,0,0)),
        color-stop(0.67, rgb(64,64,64)),
        color-stop(0.84, rgb(102,102,102))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(0,0,0) 33%,
        rgb(64,64,64) 67%,
        rgb(102,102,102) 84%
    );
}

.shareButton{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    text-shadow:1px 1px #666;
    cursor:hand;cursor:pointer;
    font: 13px arial;
    background-color: darkred;
    color: white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
    padding-right:5px;
    position:relative;
}

.shareButton:hover{
    -webkit-transition: background-color .25s linear;
    transition: background-color .25s linear;
    background-color:red;
}

.emailBox{
    background:lightgrey;
    font: 10px arial;
    padding:3px;
    padding-bottom:6px;
    z-index:1001;
    width:255px;
    position:absolute;
    bottom:0px;
    right:203px;
}

.sendButton{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    text-shadow:1px 1px #666;
    cursor:hand;cursor:pointer;
    font: 14px arial;
    background-color: darkred;
    color: white;
    padding:5px;
    margin-left:5px;
}

.sendButton:hover{
    -webkit-transition: background-color .25s linear;
    transition: background-color .25s linear;
    background-color:red;
}

.footer {
    width:100%;
    height:25px;
    background:#EFEFEF;
    position:absolute;
    bottom:0;
    z-index:100;     
    border-bottom:1px solid white;
	background:black;
}

.title{
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    font:12px arial;
    width:150px;
    color:black;
    float:left;
    position:relative;
    top:4px;
    background:darkgrey;
    padding-top:2px;
    padding-left:5px;
    margin-left:4px;
    height:12px;
    cursor:hand;cursor:pointer;
    margin-right:5px;
    overflow:hidden;       
    border:0px;
}

.editIcon {
    width:18px;
    height:23px;
}    

.rulerContainer{
    position:absolute;
    width:100%;
    height:30px;
    background:#EBEBEB;  
    text-align:center;
}

.toolbarButton{
	border-radius:3px;
	background:white;
	width:30px;
	height:30px;
	margin:7px !important; 
	margin-left:3px !important;
	margin-right:3px !important;
	box-shadow:0 0 2px 2px grey;
}  

.toolbarButtonCustom{
	border-radius:3px;
	background:white;
	width:30px;
	height:30px;
	margin:7px !important;     
	margin-left:3px !important;
	margin-right:3px !important;
	position:relative;
	top:1px;
	box-shadow:0px 0px 1px 1px white;  
	display:inline-block;float:left; 
	background-position:center;
	cursor:hand;cursor:pointer;
}

.toolbarDiv{
	height:20px;
	width:2px;
	display:inline-block;
	float:left;
	background:lightgrey;
	position:relative;
	top:12px; 
	margin-left:6px !important;
	margin-right:6px !important;
}

.ruler{
    margin-top:10px;
}