#editorTable{
    width:100%;
    border-spacing:0px;
    border-collapse:true;
    background:#EBEBEB;
}

.editorRow{
    height:100%;
}

#listContainer{
    width:200px;
    height:100%;
    vertical-align:top;
    border-left:1px solid #CACACA;
    background:white;
}

.textareaContainer{
    margin-left:auto !important;
    margin-right:auto !important;
    margin-top:40px !important;
    padding:60px !important;
    background:white !important;
    width:830px !important;
    height:100% !important;
}

.textarea{
    width:830px !important;
    height:100% !important;
    margin:0px !important;
    outline:0px solid transparent !important;
    font: 14px arial !important;
}

.textarea:focus{
    width:830px !important;
    height:100% !important;
    margin:0px !important;
    outline:0px solid transparent !important;
}

.attendee{
    font: 18px arial;
    padding:5px;
    margin-left:auto;
    margin-right:auto;
    border-bottom:1px solid grey;
}

.attendeeText{
    width:120px;
    display:inline-block;
    cursor:hand;cursor:pointer;
    background: lightyellow;
    font-weight:bold;
    color: orange;
    font: 18px arial;
    border:0px;
}

.attendeeColor{
    width:20px;
    height:20px;
    border:1px solid black;
    display:inline-block;
    position:relative;
    top:5px;
    margin-right:5px;
}

.localUser{
    background: lightyellow;
    font-weight:bold;
    color: orange;
}

.userEditIcon{
    width:18px;
    height:23px;
    float:right;
    position:relative;
    top:3px;
}

.gradient {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.33, rgb(0,0,0)),
        color-stop(0.67, rgb(64,64,64)),
        color-stop(0.84, rgb(102,102,102))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(0,0,0) 33%,
        rgb(64,64,64) 67%,
        rgb(102,102,102) 84%
    );
}