#!/usr/bin/env python
import coweb
from coweb.service import ObjectServiceManager
from moderator import ZipModerator

class CoWebApp(coweb.AppContainer):
    def on_configure(self):
        # secret key for signing auth cookies
        self.webSecretKey = '${webSecretKey}'
        # match admin url to what java version uses
        self.webAdminUrl = self.webRoot + 'comap/admin'
        # match static url to what java uses
        self.webStaticRoot = self.webRoot + 'comap/'
        self.moderatorClass = ZipModerator
        self.moderatorIsUpdater = False
        #self.serviceManagerClass = ObjectServiceManager

if __name__ == '__main__':
    coweb.run_server(CoWebApp)
