#!/usr/bin/env python
import coweb
import updater

class CoWebApp(coweb.AppContainer):
    def on_configure(self):
        # secret key for signing auth cookies
        self.webSecretKey = '${webSecretKey}'
        # match admin url to what java version uses
        self.webAdminUrl = self.webRoot + 'colist/admin'
        # match static url to what java uses
        self.webStaticRoot = self.webRoot + 'colist/'
        # provide custom updater type matcher
        self.updaterTypeMatcherClass = updater.ExampleUpdaterTypeMatcher

if __name__ == '__main__':
    coweb.run_server(CoWebApp)
