#!/usr/bin/env python
import coweb
from moderator import CotreeModerator

class CoWebApp(coweb.AppContainer):
    def on_configure(self):
        # secret key for signing auth cookies
        self.webSecretKey = '${webSecretKey}'
        # match admin url to what java version uses
        self.webAdminUrl = self.webRoot + 'cotree/admin'
        # match static url to what java uses
        self.webStaticRoot = self.webRoot + 'cotree/'
        self.moderatorClass = CotreeModerator
        self.moderatorIsUpdater = True

if __name__ == '__main__':
    coweb.run_server(CoWebApp)
