

::selection {
    background: yellow; /* Safari */
}

::-moz-selection {
    background: yellow; /* Firefox */
}

#after {
    border-left: 1px solid black;
}

.footerDiv {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    font:10px arial;
    font-weight:bold;
    width:120px;
    color:grey;
    background:lightgrey;
    float:right;
    position:relative;
    top:5px;
    padding-top:2px;
    padding-left:5px;
    margin-right:4px;
    padding-right:30px;
    height:14px;
}

.footer {
    width:100%;
    height:25px;
    background:#EFEFEF;
    border-top: 1px solid lightgrey;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    position:relative;
    top:-3px;
    z-index:100;
    min-width:480px;
}

.div {
    width: 100%;
    overflow:auto;
    background:white;
    cursor:text;
    position:relative;
    z-index:1000;
    min-width:480px;
}

.gradient {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.33, rgb(0,0,0)),
        color-stop(0.67, rgb(64,64,64)),
        color-stop(0.84, rgb(102,102,102))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(0,0,0) 33%,
        rgb(64,64,64) 67%,
        rgb(102,102,102) 84%
    );
}

.header {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    height:39px;
    position:relative;
    top:5px;
    padding:5px;
    min-width:480px;
}

.slider {
    width:95%;
    height:70px;
    background:white;
    border:1px solid grey;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    opacity:0;
    top:30px;
}

.go{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    text-shadow:1px 1px #666;
    cursor:hand;cursor:pointer;
    font: 10px arial;
    background-color: darkred;
    color:white;
    padding:5px;
    position:relative;
    top:0px;
    margin:2px;
}

.go:hover{
    -webkit-transition: background-color .25s linear;
    transition: background-color .25s linear;
    background-color:red;
}

.sliderTable{
    width:100%;
    height:100%;
    position:relative;
    top:-10px;
}

.buttonCell{
    width:50px;
}

.container{
    height:100%;
    width:auto;
    min-width:500px !important;
    max-width:700px !important;
    margin-left:auto;
    margin-right:auto;
}

.title{
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    font:10px arial;
    font-weight:bold;
    width:150px;
    color:grey;
    background:lightgrey;
    float:left;
    position:relative;
    top:5px;
    padding-top:2px;
    padding-left:5px;
    margin-left:4px;
    height:14px;
    cursor:hand;cursor:pointer;
}

.color{
    height:15px;
    width:15px;
    display:inline-block;
    margin:5px;
}