.selection{
    background:#99CCFF;
    border-left:1px solid black;
}

.remoteSelection{
    background:#99CCFF;
    border-left:1px solid black;
    display: inline;
}

::selection {
    background: #99CCFF;
}

::-moz-selection {
    background: #99CCFF;
}

#lineNumbers{
   width:100%;
   height:100%;
   background:grey;
   min-width:30px;
}

#thisDiv{
   background:white;
   cursor:text;
   z-index:1000;
   height:100%;
   min-height:100%;
}

.footerDiv {
    font:10px arial;
    width:120px;
    color: white;
    float:right;
    position:relative;
    left:10px;
    padding-top:2px;
    padding-left:5px;
    margin-right:4px;
    padding-right:30px;
    height:14px;
}

.footer {
    width:100%;
    height:25px;
    background:#EFEFEF;
    position:relative;
    top:-5px;
    z-index:100;
}

.gradient {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.33, rgb(0,0,0)),
        color-stop(0.67, rgb(64,64,64)),
        color-stop(0.84, rgb(102,102,102))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(0,0,0) 33%,
        rgb(64,64,64) 67%,
        rgb(102,102,102) 84%
    );
}

.header {
    height:39px;
    padding:5px;
}

.slider {
    width:50%;
    height:33px;
    background:white;
    border:1px solid grey;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    z-index:10000;
    position:fixed;
    right:0;
    display:none;
}

.sliderButton{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    text-shadow:1px 1px #666;
    cursor:hand;cursor:pointer;
    font: 10px arial;
    background-color: darkred;
    color:white;
    padding:5px;
    position:relative;
    top:0px;
    margin:2px;
}

.sliderButton:hover{
    -webkit-transition: background-color .25s linear;
    transition: background-color .25s linear;
    background-color:red;
}

.sliderTable{
    width:100%;
    height:100%;
}

.buttonCell{
    width:50px;
}

.container{
    height:100%;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.title{
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    font:12px arial;
    width:150px;
    color:black;
    float:left;
    position:relative;
    top:4px;
    background:darkgrey;
    padding-top:2px;
    padding-left:5px;
    margin-left:4px;
    height:12px;
    cursor:hand;cursor:pointer;
    margin-right:5px;
    overflow:hidden;
}

.editIcon {
    width:18px;
    height:23px;
}

.line{
    font:10px arial;
    float:right;
    position:relative;
    top:3px;
    margin-right:2px;
    color:lightgrey;
}

.shareButton{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    text-shadow:1px 1px #666;
    cursor:hand;cursor:pointer;
    font: 13px arial;
    background-color: darkred;
    color: white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
    padding-right:5px;
    position:relative;
}

.shareButton:hover{
    -webkit-transition: background-color .25s linear;
    transition: background-color .25s linear;
    background-color:red;
}

.emailBox{
    background:lightgrey;
    font: 10px arial;
    padding:3px;
    padding-bottom:6px;
    z-index:1001;
    width:199px;
    position:absolute;
    top:50px;
    left:75px;
}

.sendButton{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    text-shadow:1px 1px #666;
    cursor:hand;cursor:pointer;
    font: 14px arial;
    background-color: darkred;
    color: white;
    padding:5px;
    margin-left:3px;
}

.sendButton:hover{
    -webkit-transition: background-color .25s linear;
    transition: background-color .25s linear;
    background-color:red;
}

.trans{
    background:transparent !important;
}

.divTable{
    width:100%;
    border-spacing:0px;
    border-collapse:true;
    height:100%;
}

.ipadFloat{
    width:100%;
    height:95%;
    opacity:0;
    position:absolute;
}

.outerTable{
    width:100%;
    border-spacing:0px;
    border-collapse:true;
}

.attendeeListContainer{
    background:white;
    overflow-y:auto;
    vertical-align:top;
}

.attendee{
    font: 18px arial;
    padding:5px;
    width:95%;
    margin-left:auto;
    margin-right:auto;
    border-bottom:1px solid grey;
}

.attendeeColor{
    width:20px;
    height:20px;
    border:1px solid black;
    display:inline-block;
    position:relative;
    top:5px;
    margin-right:5px;
}
