.textarea{
    width: 100%;
    height: 100%;
    position:relative;
}

.share{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    text-shadow:1px 1px #666;
    cursor:hand;cursor:pointer;
    font: 13px arial;
    background-color: darkred;
    color: white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
    padding-right:5px;
    position:relative;
}

.share:hover{
    -webkit-transition: background-color .25s linear;
    transition: background-color .25s linear;
    background-color:red;
}

.emailBox{
    background:lightgrey;
    font: 10px arial;
    position:relative;
    padding:3px;
    padding-bottom:6px;
    z-index:100;
    width:199px;
    opacity:0;
}

.send{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    text-shadow:1px 1px #666;
    cursor:hand;cursor:pointer;
    font: 14px arial;
    background-color: darkred;
    color: white;
    padding:5px;
    margin-left:3px;
}

.send:hover{
    -webkit-transition: background-color .25s linear;
    transition: background-color .25s linear;
    background-color:red;
}