<div class="cowebBusySheet">
  <table>
    <tr>
      <td data-dojo-attach-point="icon" class="cowebBusyIcon"></td>
      <td class="cowebBusyText">
        <p class="cowebBusyStatus" data-dojo-attach-point="status"></p>
        <div class="cowebBusyHint" data-dojo-attach-point="hint"></div>
      </td>
    </tr>
  </table>
  <div class="cowebBusyActions">
    <div data-dojo-attach-point="cancel_actions">
      <button data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_onCancel" type="button" iconClass="cowebCancelIcon" data-dojo-attach-point="cancelButton">${labels.cancel_button}</button>
    </div>
    <div data-dojo-attach-point="fail_actions" style="display: none;">
      <button type="button" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_onBack" type="button" iconClass="cowebBackIcon">${labels.back_button}</button>
      <button type="button" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_onRefresh" type="button" iconClass="cowebRefreshIcon" data-dojo-attach-point="refresh_button">${labels.refresh_button}</button>
    </div>
</div>
